line_modal = document.getElementById("modal-container")

<% content_for :modal_title do %>
    <h1>New Line</h1>
<% end %>

line_modal.innerHTML = "<%= j render(layout: "shared/modal", locals: { resource: @line }, &-> { render 'form', line: @line }) %>"

<% # TODO: move this to a helper %>
MicroModal.show("<%= model_modal_id @line %>", microModalDefaultConfig)