<h1>Editing Task</h1>

<%= render 'form', task: @task, line: @line, lines: @lines, project: @project %>

<div>
    <%= link_to 'Show', [@project, @line, @task] %> |
    <%= link_to 'Back', [@project, @line, :tasks] %>
</div>