<p id="notice"><%= notice %></p>

<h1>Tasks</h1>

<div data-container="<%= Task.name %>">
    <%= render @tasks, line: @line, lines: @lines, project: @project %>
</div>

<br>

<%= link_to 'New Task', [:new, @project, @line, :task], remote: true %>
